{% extends "profile-layout.html" %}

<!-- HTML head -->
{% block extra_head_info %}Settings{% endblock %}

{% block profileName %}{{account_name}}{% endblock %}

<!-- HTML body -->
{% block body %}
    <main>
        <div class="mainwrapper">
            
            <!-- User Biography -->
            <aside>
                <div class="aside-content">
                    {% if not(userData["pfp"]) %}
                        <img src="/static/images/default.png" alt="User profile picture" height="200" width="200">
                    {% elif userData["pfp"] %}
                        <img src="/static/images/{{userData['pfp']}}" alt="User profile picture" height="200" width="200">
                    {% endif %}

                    <div>
                        <h1>{{userData["name"]}}</h1>
                        <h2>Age: {{userData["age"]}}</h2>
                        <h2>Gender: {{userData["gender"]}}</h2>
                        <a href="/user/profile/{{account_name}}/account" class="edit-btn">edit</a>

                        <h3>Joined: {{userData["date"]}}</h3>
                    </div>
                </div>
            </aside>

            <!-- Main Body -->
            <section>
                <form action="/user/profile/{{account_name}}/account/upload" method="POST" class="pfp-box" enctype="multipart/form-data">
                    <label for="pfp">Change profile picture</label>
                    <input type="file" name="pfp" id="pfp" required>
                    <button type="submit" class="pfp-btn">Upload</button>
                </form>

                <form action="" method="POST" class="settings">
                    {{settingsForm.hidden_tag()}}
                    <label for="name" class="settings-label">{{settingsForm.name.label}}</label>
                    {{settingsForm.name(class_="settings-input", placeholder="Enter a name")}}
                    <label for="age" class="settings-label">{{settingsForm.age.label}}</label>
                    {{settingsForm.age(class_="settings-input", placeholder="Enter an age")}}
                    <label for="gender" class="settings-label">{{settingsForm.gender.label}}</label>
                    {{settingsForm.gender(class_="settings-input", placeholder="Enter a gender")}}
                    <button type="submit" class="settings-btn">Update</button>
                </form>
            </section>
        </div>
    </main>
{% endblock %}